.form {
	margin-top: 50px;
	.form__field {
		width: 100%;
		position: relative;
		margin-bottom: 15px;
		label {
			position: absolute;
			top: 8px;
			left: 15px;
			text-transform: uppercase;

			transition: all 0.3s;
		}
		input {
			padding: 10px 15px;
			width: 100%;
			border-bottom: 1px solid black;
		}
	}

	.required {
		&:after {
			content: "Required";
			position: absolute;
			right: 15px;
			top: 8px;
		}
	}

	.float--label {
		label {
			font-size: 0.5em;
			top: 0;
			left: 0;
		}
	}

	.field--error {
		&:after {
			color: red;
		}
	}
}

.form--success {
	.form__response {
		width: 100%;
		text-align: center;
		padding: 0 50px;
	}
}