$desktop_margin: 15px;
$tablet_margin: 10px;

.l-card-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.card {
	// width: calc(33.3333% - 10px);
	// margin-left: $desktop_margin;
	margin-bottom: 20px;
	
	&__image {}
	&__header {}
	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__excerpt {}
	&__read-more {
		margin-top: 13px;
	}
}

@media #{$lg_t_mq} {
	// .card {
	// 	width: calc(50% - 10px);
	// 	margin-left: $tablet_margin;
	// 	&:nth-child(3n+1) {
	// 		margin-left: $tablet_margin;
	// 	}
	// 	&:nth-child(2n+1) {
	// 		margin-left: 0;
	// 	}
	// }
}

@media #{$sm_t_mq} {
	// .card {
	// 	width: 100%;
	// 	margin-left: 0;
	// 	&:nth-child(3n+1) {
	// 		margin-left: 0;
	// 	}
	// }
}