/* post header */
.post-header {
	&__category {
		color: $carrot;
		margin: 10px 0 0 0;
	}
	&__title {
		font-size: 2.8em;
		margin: 10px 0 5px;
	}
	&__excerpt {
		font-size: 1.1em;
		margin: 0 0 10px;
	}
	&__meta-list {
		list-style-type: none;
		overflow: hidden;
		margin: 10px 0 25px;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 30px;
			font-size: 1.1em;
		}
	}
	&__post-category {

	}
	&__post-date {

	}
}

/* post loop */
.post-header--loop {
	.post-header__title {
		font-size: 1.8em;
	}
}


/* post navigation */
.post-nav {
	height: 90px;
	@include flexVerticalCenter;
	.ll-post-nav-inner {
		display: flex;
		justify-content: space-between;
	}
	&--right {
		text-align: right;
	}
	&__link {
		&:link, &:visited {
			text-decoration: none;
			transition: opacity 0.2s;
			color: $carrot;
			text-transform: uppercase;
			background-repeat: no-repeat;
			background-size: 1em;
			padding-top: 7px;
			padding-bottom: 7px;
			display: inline-block;
		}
		&:hover, &:active {
			opacity: 0.7;
		}
		&--left {
			padding-left: 35px;
			background-image: url("./assets/img/chevron-left.png");
			background-position: 2px 50%;
		}
		&--right {
			padding-right: 35px;
			background-image: url("./assets/img/chevron-right.png");
			background-position: top 50% right 2px;
		}
	}
}







