

/* post header */
.post-header {}
.post-header__category {
	color: $carrot;
}
.post-header__title {
	font-size: 2.8em;
	margin: 10px 0 7px;
}
.post-header__excerpt {
	font-size: 1.1em;
}


/* post loop */
.post-header--loop {
	.post-header__title {
		font-size: 1.8em;
	}
}


/* post navigation */
.post-nav {
	height: 90px;
	@include flexVerticalCenter;
	.ll-post-nav-inner {
		display: flex;
		justify-content: space-between;
	}
	&--right {
		text-align: right;
	}
	&__link {
		&:link, &:visited {
			text-decoration: none;
			transition: opacity 0.2s;
			color: $carrot;
			text-transform: uppercase;
			background-repeat: no-repeat;
			background-size: 1em;
			padding-top: 7px;
			padding-bottom: 7px;
			display: inline-block;
		}
		&:hover, &:active {
			opacity: 0.7;
		}
		&--left {
			padding-left: 35px;
			background-image: url("./assets/img/chevron-left.png");
			background-position: 2px 50%;
		}
		&--right {
			padding-right: 35px;
			background-image: url("./assets/img/chevron-right.png");
			background-position: top 50% right 2px;
		}
	}
}







