.hero {
	position: relative;
}

.hero__image {
	object-fit: cover;
	object-position: center;
	width: 100%;
}
.hero__content {
	color: white;
	text-transform: uppercase;
	h1 {
		font-size: 7em;
	}
}

.l-hero-wrapper {
	@include center();
}