body {
	&.logged-in.admin-bar {
		.header-main {
			top: 32px;	
		}
	}
}
.header-main {
	height: $header-main-height;
	background-color: $blackish;
	position: fixed;
	width: 100%;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	.header-main-inner {
		height: $header-main-height;
	}
	.l-row {
		display: flex;
		justify-content: space-between;
	}
	.header-main__site-logo {
		height: $header-main-height;
		@include flexVerticalCenter;
	}

	&--collapse {
		transition: height 0.3s ease;
		.header-main-inner,
		.header-main__site-logo,
		.header-main__navigation {
			transition: height 0.3s ease;
		}
	}

	&--collapsed {
		height: $collapse-header-height;
		.header-main-inner,
		.header-main__site-logo,
		.header-main__navigation {
			height: $collapse-header-height;
		}

	}

}

.header-main__site-logo-img {
	max-width: 50px;
}
.header-main__navigation {
	height: $header-main-height;
}

.header-main__navigation {
	
}