$header-main-height: 80px;

.header-main {
	height: $header-main-height;
	border-bottom: solid thin $light-border-colour;
	background-color: $blackish;
	.header-main-inner {
		height: $header-main-height;
	}
	.l-row {
		display: flex;
		justify-content: space-between;
	}
	.header-main__site-logo {
		height: $header-main-height;
		@include flexVerticalCenter;
	}

}

.header-main__site-logo-img {
	max-width: 50px;
}
.header-main__navigation {
	height: $header-main-height;
}

.header-main__navigation {
	
}