.navigation {
	@include flexVerticalCenter;
}
.navigation__menu {
	
}
.navigation__item {
	list-style-type: none;
	padding: 2px 22px;
	display: inline-block;
	&:last-child {
		padding-right: 0;
	}
	a {
		&:link, &:visited {
			text-decoration: none;
			color: $white;
			transition: opacity 0.2s ease;
		}
		&:hover, &:active {
			opacity: 0.7;
		}
	}
}