$instagrams_per_row: 3;

$instagram_img_width: calc(100% / #{$instagrams_per_row});
$instagram_padding: 5px;
$instagram_width_diff: (#{$instagram_padding} / #{$instagrams_per_row});

.socialmedia {
	// Elements
	@at-root #{&}__twitter {
		ul {

		}
	}

	@at-root #{&}__instagram {
		ul {
			li {
				float: left;
				width: $instagram_img_width;
				img {
					object-fit: cover;
					object-position: center;
					width: 100%;
					height: auto;
				}
			}
		}
	}

	// Modifiers
	@at-root #{&}--instagrampadding {
		ul {
			li {
				width: calc(#{$instagram_img_width} - (#{$instagram_padding} - (#{$instagram_width_diff})));
				margin-bottom: $instagram_padding;
				margin-left: calc(#{$instagram_padding}); // divide by number of items in row - 1
				&:nth-child(#{$instagrams_per_row}n+1) { // replace 4n with how ever many 
					margin-left: 0;
				}
			}
		}
		
	}
}

