
// Remove default margins
h1, h2, h3, h4, h5, h6, p, ul, li, ol {
    margin: 0;
    padding: 0;
}
a {
    font-size: 1em;
    transition: all 0.3s;
    &:link, &:visited, &:active, &:focus {
        outline: 0;
    }
    &:hover {
        text-decoration: none;
    }
}
p {
	margin-bottom: 25px;
	font-size: 1em;
}
h1,
h2,
h3,
h4 {
	margin-bottom: 8px;
}
h4 {
	text-transform: uppercase;
	line-height: 0.9;
	font-size: 18px;
}
h5 {
	margin-bottom: 25px;
}
